RewriteEngine On

# Redirigir todo a public/index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ public/index.php?url=$1 [QSA,L]

# Seguridad básica
<FilesMatch "\.(env|json|config.js|md|gitignore|gitattributes|lock)$">
    Order allow,deny
    Deny from all
</FilesMatch>

# Proteger directorios sensibles
<FilesMatch "^\.">
    Order allow,deny
    Deny from all
</FilesMatch>